*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#f4f6f9;
     overflow:hidden;
}

.container{
    display:flex;
}

/* Sidebar */

.sidebar{
    width:240px;
    height:100vh;
    background:#0f172a;
    color:white;
    padding:25px 20px;
    position:fixed;
}

.sidebar h2{
    text-align:center;
    margin-bottom:40px;
    font-size:36px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:15px;
    margin-bottom:10px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
    font-size:18px;
}

.sidebar li:hover{
    background:#1e293b;
}

/* Main */

.main{
    margin-left:240px;
    width:calc(100% - 240px);
    padding:20px;
    height:100vh;
    overflow:hidden;
}

/* Welcome */

.welcome{
    margin-bottom:20px;
}

.welcome h1{
    font-size:32px;
    margin-bottom:6px;
}

.welcome p{
    color:gray;
    font-size:18px;
}

/* Summary Cards */

.summary-cards{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:20px;
    margin-bottom:30px;
}

.summary-card{
    background:white;
    border-radius:18px;
    padding:18px;
    display:flex;
    align-items:center;
    gap:20px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    transition:0.3s;
}

.summary-card:hover{
    transform:translateY(-5px);
}

.icon{
    width:60px;
    height:60px;
    border-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    color:white;
}

/* Card Colors */

.sales .icon{
    background:#3b82f6;
}

.purchases .icon{
    background:#f59e0b;
}

.products .icon{
    background:#22c55e;
}

.customers .icon{
    background:#a855f7;
}

.revenue .icon{
    background:#06b6d4;
}

.card-info h4{
    color:#555;
    margin-bottom:10px;
    font-size:16px;
}

.card-info h2{
    font-size:32px;
}

/* Tables */

.table-section{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
    height:calc(100vh - 320px);
}

.table-card{
    background:white;
    padding:18px;
    border-radius:18px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    display:flex;
    flex-direction:column;

    overflow:hidden;
}

.table-card h2{
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background:#f1f5f9;
    padding:12px;
    text-align:left;
}

table td{
    padding:12px;
    border-bottom:1px solid #eee;
}

/* Status */

.low{
    background:#fef3c7;
    color:#b45309;
    padding:6px 12px;
    border-radius:20px;
    font-size:14px;
}

.out{
    background:#fee2e2;
    color:#dc2626;
    padding:6px 12px;
    border-radius:20px;
    font-size:14px;
}

/* Progress Bar */

.progress-bar{
    width:100%;
    height:8px;
    background:#e5e7eb;
    border-radius:10px;
    overflow:hidden;
}

.progress{
    height:100%;
    background:#22c55e;
}

/* Responsive */

@media(max-width:1200px){

    .summary-cards{
        grid-template-columns:repeat(2,1fr);
    }

    .table-section{
        grid-template-columns:1fr;
    }
}

.table-card{
    max-height: 480px;
    overflow-y: auto;
}

.table-card table{
    display:block;
    overflow-y:auto;
    flex:1;
}

.table-card tbody{
    display:table;
    width:100%;
}

.table-card thead{
    display:table;
    width:100%;
    table-layout:fixed;
}

.table-card tr{
    display:table;
    width:100%;
    table-layout:fixed;
}